:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.profile-pic {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.charinfo {
}
