:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.profile-pic {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.character-row {
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #8da1b9;
}

.characterName {
  font-family: 'Milonga', cursive;
  /* font-weight: bold; */
  position: relative;
  bottom: 90px;
  font-size: 1.6em;
  max-width: 300px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 5px;
  background-color: #ddffdd;
  opacity: 0.8;
  color: black;
  border-radius: 10px;
}

.page-title a {
  color: white;
}

.cast-link {
  /* display: flex; */
}

.page-title {
  margin: 0;
  text-align: center;
  font-family: 'Milonga', cursive;
  font-size: 3em;
  color: silver;
  padding: 1em;
  background-color: #3a4454;
}

.random-show-container {
  display: flex;
  justify-content: center;
  background-color: #6e7e85;
}

.top-show-header {
  background-color: #757272;
  color: rgb(207, 201, 201);
  text-align: center;
  font-size: 1.9em;
  font-family: serif;
  padding: 0.1em;
}

.show-container {
  flex-direction: column;
  color: black;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  border: 1px #41689b solid !important;
  background-color: rgb(97%, 97%, 98%);
}

.show-multi {
  display: flex;
  width: 20em;
}

.all-shows {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #8da1b9;
}

footer {
  background-color: #3a4454;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  color: silver;
}

a:visited {
  text-decoration: none;
}
