:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.page-title {
  text-align: center;
  font-family: 'Milonga', cursive;
  font-size: 3em;
  padding: 1em;
}

.random-show-container {
  display: flex;
  justify-content: center;
  background-color: rgb(212, 208, 208);
}

.top-show-header {
  text-align: center;
}

.show-container {
  display: flex;
  flex-direction: column;
  width: 20em;
  margin: 3em;
  border-radius: 1em;
  border: 1px #e1e4e8 solid !important;
  background-color: rgb(97%, 97%, 98%);
}

.all-shows {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  background-color: rgb(235, 235, 235);
}
